@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

/* .figtree-<uniquifier> {
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */
html, body {
    font-family: "Figtree", sans-serif;
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4d04e;
    
}

.card {
    flex-wrap: wrap;
    align-content: center;
    display:flex;
    align-items: center;
    width: 250px;
    height: 350px;
    border-color: black;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0.4rem 0.4rem;
    border-style: solid;
    border-width: 0.1rem;
    background-color: white;
    margin:10px;
    padding:20px;
    color:#111111
}

.card #main-content{
 align-content: center;
}
.card #image-card{
    background-color: #f4d04e;
    padding:10px;
    border-radius: 10px;
    width: 250px;
    height:100px;
}

.card #main-content #label {
    margin-top:10px;
    width:28%;
    padding:4px;
    font-size: 12px;
    text-align: center;
    font-weight: 600;
    border-radius: 3px;
    background-color: #f4d04e;
}

.card #main-content h3 {
    font-weight: 800;
}

.card #main-content p {
    text-align: left;
    color:#6B6B6b;
    font-size:14px;
}

.card #main-content #creator{
    font-weight: 600;
    font-size: 0.8rem;
}